#part {
    width: 100%;
}

.input {
    width: 100%;
    text-align: center;
    margin-top: 1.5%;
}

h1 {
    text-align: center;
}

#pixelart {
    width: 100%;
    border-collapse: collapse;
}

tr,td, #pixelart {
    border-color: black;
    border: solid;
}

td {
    height: 20px;
}

tr {
    width: 20px;
}